<div class="container"> 
  <div class="jumbotron"> 
    <img src="/assets/images/Everything_burger.jpg"> 
    <h1> Eat-Da-Burger! </h1>
  </div>

<!-- Undevoured burgers -->
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div class="panel-panel default">
        <ul class="list-group">
        {{#each burgers}}
          {{#unless this.devoured}}
          <li class="list-group-item">
            <div class="input-group">
              <p class="lead"> {{this.burger_name}} </p>
              <span class="input-group-btn">
                <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button class="btn btn-default btn-lg" type="submit"> EAT DA BURGER! </button>
                </form>
              </span>
            </div>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>


<!-- devoured burgers -->
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel panel-default">
        <ul class="list-group">
        {{#each burgers}}
          {{#if this.devoured}}
          <li class="list-group-item">
            <p class="lead">{{this.burger_name}} </p>
          </li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
  </div>